AutomationDemo1
[{"id":"bbc5b6fc.10feb8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6b4176a4.64f0a8","type":"ui_button","z":"bbc5b6fc.10feb8","name":"","group":"c90a9b1d.f844d8","order":0,"width":0,"height":0,"passthru":false,"label":"50","color":"","bgcolor":"","icon":"","payload":"50","payloadType":"num","topic":"","x":130,"y":100,"wires":[["c83e8ec7.becee","994cc71b.e71f58"]]},{"id":"c83e8ec7.becee","type":"ui_gauge","z":"bbc5b6fc.10feb8","name":"","group":"4d5ef463.5d01fc","order":0,"width":0,"height":0,"gtype":"gage","title":"Gauge","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":180,"wires":[]},{"id":"fb8a0a1.28cfdf8","type":"ui_button","z":"bbc5b6fc.10feb8","name":"","group":"c90a9b1d.f844d8","order":0,"width":0,"height":0,"passthru":false,"label":"75","color":"","bgcolor":"","icon":"","payload":"75","payloadType":"num","topic":"","x":130,"y":180,"wires":[["c83e8ec7.becee","994cc71b.e71f58"]]},{"id":"994cc71b.e71f58","type":"ui_chart","z":"bbc5b6fc.10feb8","name":"","group":"4d5ef463.5d01fc","order":0,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":360,"y":100,"wires":[[],[]]},{"id":"f1101ed4.55ff5","type":"http request","z":"bbc5b6fc.10feb8","name":"","method":"GET","ret":"txt","url":"http://192.168.1.101/on","tls":"","x":560,"y":280,"wires":[[]],"inputLabels":["on"]},{"id":"69701622.9a6708","type":"http request","z":"bbc5b6fc.10feb8","name":"","method":"GET","ret":"txt","url":"http://192.168.1.101/off","tls":"","x":560,"y":400,"wires":[[]],"inputLabels":["off"]},{"id":"8f4d8a33.361d68","type":"ui_button","z":"bbc5b6fc.10feb8","name":"","group":"c90a9b1d.f844d8","order":0,"width":0,"height":0,"passthru":false,"label":"ON","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":130,"y":320,"wires":[["f1101ed4.55ff5"]]},{"id":"56b03f6d.e9008","type":"ui_button","z":"bbc5b6fc.10feb8","name":"","group":"c90a9b1d.f844d8","order":0,"width":0,"height":0,"passthru":false,"label":"OFF","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"","x":130,"y":400,"wires":[["69701622.9a6708"]],"outputLabels":["switch"]},{"id":"c43de1bd.edb3b","type":"ui_switch","z":"bbc5b6fc.10feb8","name":"","label":"switch","group":"c90a9b1d.f844d8","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":120,"y":520,"wires":[["4830ad0.0304154","aeea3d1d.53782"]]},{"id":"4830ad0.0304154","type":"switch","z":"bbc5b6fc.10feb8","name":"on","property":"payload","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":480,"wires":[["f1101ed4.55ff5"]]},{"id":"aeea3d1d.53782","type":"switch","z":"bbc5b6fc.10feb8","name":"off","property":"payload","propertyType":"msg","rules":[{"t":"false"}],"checkall":"true","repair":false,"outputs":1,"x":280,"y":560,"wires":[["69701622.9a6708"]]},{"id":"78c59bab.186414","type":"bigtimer","z":"bbc5b6fc.10feb8","outtopic":"","outpayload1":"","outpayload2":"","name":"timer","lat":"33.78978","lon":"-117.97762","starttime":"1140","endtime":"10060","startoff":0,"endoff":0,"offs":"-7","outtext1":"true","outtext2":"false","timeout":1440,"sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"suspend":false,"random":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":490,"y":660,"wires":[[],["8f542c7e.d16b1"],[]],"inputLabels":["timer"]},{"id":"8f542c7e.d16b1","type":"debug","z":"bbc5b6fc.10feb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":500,"wires":[]},{"id":"f583c037.5d8d9","type":"inject","z":"bbc5b6fc.10feb8","name":"timer","topic":"timer","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":640,"wires":[["78c59bab.186414"]]},{"id":"89002074.934bd","type":"inject","z":"bbc5b6fc.10feb8","name":"","topic":"timer","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":700,"wires":[["78c59bab.186414"]]},{"id":"b9f34434.f4adb8","type":"inject","z":"bbc5b6fc.10feb8","name":"","topic":"","payload":"ON","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":142,"y":780,"wires":[["c4201f01.a102e"]]},{"id":"c4201f01.a102e","type":"mqtt out","z":"bbc5b6fc.10feb8","name":"","topic":"cmnd/sonoff/ledpower","qos":"1","retain":"","broker":"87c17f02.e0814","x":537,"y":808,"wires":[]},{"id":"896aff51.a1d2c","type":"mqtt in","z":"bbc5b6fc.10feb8","name":"","topic":"#","qos":"1","broker":"87c17f02.e0814","x":119,"y":995,"wires":[["c05454be.3a3938"]]},{"id":"c05454be.3a3938","type":"debug","z":"bbc5b6fc.10feb8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":993,"wires":[]},{"id":"88fbd075.c9c6c","type":"inject","z":"bbc5b6fc.10feb8","name":"","topic":"","payload":"OFF","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":135,"y":839,"wires":[["c4201f01.a102e"]]},{"id":"89a9cda1.c1d96","type":"inject","z":"bbc5b6fc.10feb8","name":"","topic":"","payload":"TOGGLE","payloadType":"str","repeat":"1","crontab":"","once":false,"onceDelay":0.1,"x":144,"y":904,"wires":[["c4201f01.a102e"]]},{"id":"c90a9b1d.f844d8","type":"ui_group","name":"Group 1","tab":"5aa8903.6ae457","order":1,"disp":true,"width":6},{"id":"4d5ef463.5d01fc","type":"ui_group","name":"Group 2","tab":"5aa8903.6ae457","order":2,"disp":true,"width":6},{"id":"87c17f02.e0814","type":"mqtt-broker","z":"","name":"local","broker":"192.168.1.33","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"5aa8903.6ae457","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1}]
