DHT11_MQTT_Dashboard
[{"id":"aa4d7747.99bcf8","type":"mqtt in","z":"7283e395.b848cc","name":"","topic":"DHT_Data","qos":"2","broker":"e61161df.a7643","x":250,"y":1900,"wires":[["a358fa37.3171f8"]]},{"id":"a358fa37.3171f8","type":"json","z":"7283e395.b848cc","name":"","property":"payload","action":"","pretty":false,"x":450,"y":1900,"wires":[["4b77fe3b.ddc7","90111c21.a3f9e","6b40b449.436f8c"]]},{"id":"4b77fe3b.ddc7","type":"change","z":"7283e395.b848cc","name":"Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":610,"y":1900,"wires":[["950dbd30.ea417"]]},{"id":"ece3a930.9ef518","type":"ui_chart","z":"7283e395.b848cc","name":"","group":"34b06df0.169be2","order":0,"width":0,"height":0,"label":"Temp","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"50","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":870,"y":1900,"wires":[[],[]]},{"id":"90111c21.a3f9e","type":"change","z":"7283e395.b848cc","name":"Humid","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Humid","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":630,"y":2000,"wires":[["d88cfb.dddca308"]]},{"id":"d88cfb.dddca308","type":"ui_chart","z":"7283e395.b848cc","name":"","group":"34b06df0.169be2","order":0,"width":0,"height":0,"label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":880,"y":2000,"wires":[[],[]]},{"id":"950dbd30.ea417","type":"function","z":"7283e395.b848cc","name":"C to F","func":"var tempc = msg.payload;\n    tempf = tempc * 9/5 + 32;\n    tempf = Math.round(tempf * 10) / 10;\n    msg.payload = tempf;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1900,"wires":[["ece3a930.9ef518"]]},{"id":"13e5e482.5f96bb","type":"ui_text","z":"7283e395.b848cc","group":"34b06df0.169be2","order":0,"width":0,"height":0,"name":"","label":"Uptime (hours)","format":"{{msg.payload}}","layout":"row-spread","x":910,"y":2100,"wires":[]},{"id":"6b40b449.436f8c","type":"change","z":"7283e395.b848cc","name":"Uptime","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Uptime","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":2100,"wires":[["888eb95f.4a5bb8"]]},{"id":"888eb95f.4a5bb8","type":"function","z":"7283e395.b848cc","name":"msec to hour","func":"var uptime_ms = msg.payload;\n    uptime_min = ((uptime_ms/1000)/60)/60;\n    uptime_min = Math.round(uptime_min * 10) / 10;\n    msg.payload = uptime_min;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":2100,"wires":[["13e5e482.5f96bb"]]},{"id":"e61161df.a7643","type":"mqtt-broker","z":"","name":"local","broker":"192.168.1.15","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"34b06df0.169be2","type":"ui_group","z":"","name":"Plot 1","tab":"4f9ac31d.b28f7c","order":1,"disp":true,"width":"6","collapse":false},{"id":"4f9ac31d.b28f7c","type":"ui_tab","z":"","name":"Plots","icon":"dashboard","order":3}]
