JS8WebRemote
[
    {
        "id": "6b190682a481fcc4",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "466b5a48770c62f9",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "564633c11c99f4a1",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90b94e90ae746f81",
        "type": "ui_tab",
        "name": "JS8 WebRemote",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b4a945d3a8401ffe",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "cd4938cdd42c3c52",
        "type": "ui_group",
        "name": "Messages",
        "tab": "90b94e90ae746f81",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7bbdd5f2932c4f0c",
        "type": "ui_tab",
        "name": "JS8 WebRemote TX",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "73b608dffae72aee",
        "type": "ui_group",
        "name": "TX",
        "tab": "7bbdd5f2932c4f0c",
        "order": 1,
        "disp": false,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f16169c8ea610470",
        "type": "ui_spacer",
        "z": "6b190682a481fcc4",
        "name": "spacer",
        "group": "73b608dffae72aee",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "322d3bb4df4f086f",
        "type": "ui_group",
        "name": "Process Control",
        "tab": "90b94e90ae746f81",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "fad570b5858420a9",
        "type": "sqlitedb",
        "db": "/home/dmatyja/JS8spotter/js8spotter_v1.09b_src/js8spotter.db",
        "mode": "RO"
    },
    {
        "id": "009e256174f7ab57",
        "type": "sqlitedb",
        "db": "/home/dmatyja/.local/share/JS8Call/inbox.db3",
        "mode": "RO"
    },
    {
        "id": "0949482d6908a5f0",
        "type": "sqlitedb",
        "db": "/home/dmatyja/JS8spotter/js8spotter_v1.09b_src/js8spotter.db",
        "mode": "RW"
    },
    {
        "id": "d727de26f1fd11bc",
        "type": "exec",
        "z": "6b190682a481fcc4",
        "command": "js8-cli inbox.get_messages",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get Inbox",
        "x": 260,
        "y": 200,
        "wires": [
            [
                "0488598fef7c5cec"
            ],
            [],
            []
        ]
    },
    {
        "id": "21c5de95b1d9a42c",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "548e4f5a9ec9134d"
            ]
        ]
    },
    {
        "id": "b7b9b1bd9b3c84c9",
        "type": "ui_text",
        "z": "6b190682a481fcc4",
        "group": "cd4938cdd42c3c52",
        "order": 5,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Inbox",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "9",
        "color": "#ffffff",
        "x": 590,
        "y": 280,
        "wires": []
    },
    {
        "id": "6beaf6b68e9584c0",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "cd4938cdd42c3c52",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Messages",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "d727de26f1fd11bc"
            ]
        ]
    },
    {
        "id": "5f58650734467a9a",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "cd4938cdd42c3c52",
        "order": 1,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "   ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 130,
        "y": 400,
        "wires": [
            [
                "b7b9b1bd9b3c84c9",
                "7f25c8b6a25ea2a7"
            ]
        ]
    },
    {
        "id": "4948ebc52f2a114b",
        "type": "exec",
        "z": "6b190682a481fcc4",
        "command": "js8-cli rx.get_text",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Activity",
        "x": 360,
        "y": 460,
        "wires": [
            [
                "15125894f1e29313",
                "a5d6808b24695f96"
            ],
            [],
            []
        ]
    },
    {
        "id": "a93d60b9f9a1fc9e",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "cd4938cdd42c3c52",
        "order": 3,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Activity",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 120,
        "y": 460,
        "wires": [
            [
                "4948ebc52f2a114b"
            ]
        ]
    },
    {
        "id": "a5d6808b24695f96",
        "type": "string",
        "z": "6b190682a481fcc4",
        "name": "",
        "methods": [
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "\\n\\n"
                    },
                    {
                        "type": "str",
                        "value": " \\n"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 490,
        "y": 420,
        "wires": [
            [
                "7f25c8b6a25ea2a7"
            ]
        ]
    },
    {
        "id": "0488598fef7c5cec",
        "type": "string",
        "z": "6b190682a481fcc4",
        "name": "",
        "methods": [
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "\\n"
                    },
                    {
                        "type": "str",
                        "value": "<br>"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 410,
        "y": 280,
        "wires": [
            [
                "b7b9b1bd9b3c84c9"
            ]
        ]
    },
    {
        "id": "548e4f5a9ec9134d",
        "type": "simpletime",
        "z": "6b190682a481fcc4",
        "name": "",
        "mydate": false,
        "myymd": false,
        "myyear": false,
        "mymonth": false,
        "mymonthn": false,
        "mymonthf": false,
        "mydom": false,
        "mydoy": false,
        "myday": false,
        "mydayf": false,
        "myhourpm": false,
        "myhour": true,
        "mytime": true,
        "mytimes": false,
        "myminute": true,
        "myminutes": false,
        "mysecond": true,
        "mymillis": false,
        "myepoch": false,
        "myrawdate": false,
        "mypm": false,
        "x": 270,
        "y": 80,
        "wires": [
            [
                "3d7db33c0d647d1b"
            ]
        ]
    },
    {
        "id": "f790b0d59a558909",
        "type": "ui_text",
        "z": "6b190682a481fcc4",
        "group": "cd4938cdd42c3c52",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "UTC",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 610,
        "y": 80,
        "wires": []
    },
    {
        "id": "3d7db33c0d647d1b",
        "type": "function",
        "z": "6b190682a481fcc4",
        "name": "toUTC",
        "func": "// Convert to UTC by adding 7 or 8 hours to local time\n//\nvar Hour = (Number(msg.myhour) + 8) % 24;\nvar HourStr = Hour.toString().padStart(2,\"0\");\nmsg.payload = HourStr + \":\" + msg.myminute + \":\" + msg.mysecond;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "f790b0d59a558909"
            ]
        ]
    },
    {
        "id": "7f25c8b6a25ea2a7",
        "type": "ui_template",
        "z": "6b190682a481fcc4",
        "group": "cd4938cdd42c3c52",
        "name": "Activity",
        "order": 6,
        "width": "6",
        "height": "2",
        "format": "\n<!--<pre><code id=\"shell\" class=\"language-bash bash\" ng-bind=\"msg.payload\"></code></pre>-->\n<pre><code id=\"shell\" class=\"language-bash bash\"></code></pre>\n<script>\n    $(document).ready(function() {\n      $('#shell').each(function(i, e) {hljs.highlightElement(e)});\n    }); \n</script>\n\n\n<script>\n(function(scope) {\n\n  scope.$watch('msg', function(msg) {\n    if (msg) {\n        debugger\n      $(\"#shell\").text(msg.payload);\n      $('#shell').each(function(i, e) {hljs.highlightElement(e)});\n      //$(\"#shell\").scrollTop(function() { return this.scrollHeight; });\n      $(\"#shell\").closest(\".nr-dashboard-template\").scrollTop(function() { return this.scrollHeight; });\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "15125894f1e29313",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 500,
        "wires": []
    },
    {
        "id": "edf6a29722ae7d62",
        "type": "exec",
        "z": "6b190682a481fcc4",
        "command": "js8-cli tx.send_message",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "TX Msg",
        "x": 543,
        "y": 699,
        "wires": [
            [
                "628f0ff191074ad3"
            ],
            [
                "91d431cc184c90fd"
            ],
            [
                "a93999491d0ae8d2"
            ]
        ]
    },
    {
        "id": "628f0ff191074ad3",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 680,
        "wires": []
    },
    {
        "id": "91d431cc184c90fd",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 720,
        "wires": []
    },
    {
        "id": "a93999491d0ae8d2",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 760,
        "wires": []
    },
    {
        "id": "0fa35f6e24fa5711",
        "type": "ui_form",
        "z": "6b190682a481fcc4",
        "name": "",
        "label": "",
        "group": "cd4938cdd42c3c52",
        "order": 8,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Text to Send",
                "value": "tx",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "tx": ""
        },
        "payload": "",
        "submit": "send",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 70,
        "y": 800,
        "wires": [
            [
                "de0c5f3d3f7c3014"
            ]
        ]
    },
    {
        "id": "de0c5f3d3f7c3014",
        "type": "change",
        "z": "6b190682a481fcc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.tx",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 840,
        "wires": [
            [
                "d2268394d90ffd15"
            ]
        ]
    },
    {
        "id": "d2268394d90ffd15",
        "type": "string",
        "z": "6b190682a481fcc4",
        "name": "",
        "methods": [
            {
                "name": "append",
                "params": [
                    {
                        "type": "str",
                        "value": "\""
                    }
                ]
            },
            {
                "name": "prepend",
                "params": [
                    {
                        "type": "str",
                        "value": "\""
                    }
                ]
            },
            {
                "name": "toUpperCase",
                "params": []
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 410,
        "y": 820,
        "wires": [
            [
                "edf6a29722ae7d62",
                "4f59ddfafcb7e483"
            ]
        ]
    },
    {
        "id": "24de7a6372de2be8",
        "type": "status",
        "z": "6b190682a481fcc4",
        "name": "",
        "scope": [
            "edf6a29722ae7d62",
            "88ecccd75424b0cc",
            "21c1925c8d45600f"
        ],
        "x": 620,
        "y": 860,
        "wires": [
            [
                "d0177a5436326341",
                "a2488177d2430f62"
            ]
        ]
    },
    {
        "id": "d0177a5436326341",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "status.text",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 860,
        "wires": []
    },
    {
        "id": "a2488177d2430f62",
        "type": "ui_text",
        "z": "6b190682a481fcc4",
        "group": "cd4938cdd42c3c52",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "PID",
        "label": "",
        "format": "{{msg.status.text}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "12",
        "color": "#808080",
        "x": 810,
        "y": 920,
        "wires": []
    },
    {
        "id": "4f59ddfafcb7e483",
        "type": "ui_text",
        "z": "6b190682a481fcc4",
        "group": "cd4938cdd42c3c52",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Last Tx: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "12",
        "color": "#808080",
        "x": 540,
        "y": 620,
        "wires": []
    },
    {
        "id": "d11ab8e1b92d8a7f",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "cd4938cdd42c3c52",
        "order": 10,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "TX HB",
        "tooltip": "",
        "color": "",
        "bgcolor": "rgb(255, 0, 0)",
        "className": "",
        "icon": "",
        "payload": "\"@HB HEARTBEAT DM03\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 580,
        "wires": [
            [
                "4f59ddfafcb7e483",
                "edf6a29722ae7d62"
            ]
        ]
    },
    {
        "id": "f076b16ec4a6a4ed",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "cd4938cdd42c3c52",
        "order": 11,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "TX @NET SNR?",
        "tooltip": "",
        "color": "",
        "bgcolor": "rgb(255, 0, 0)",
        "className": "",
        "icon": "",
        "payload": "\"@NET SNR?\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 640,
        "wires": [
            [
                "4f59ddfafcb7e483",
                "edf6a29722ae7d62"
            ]
        ]
    },
    {
        "id": "bab3c073c3493b8b",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "cd4938cdd42c3c52",
        "order": 12,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "TX @TTP SNR?",
        "tooltip": "",
        "color": "",
        "bgcolor": "rgb(255, 0, 0)",
        "className": "",
        "icon": "",
        "payload": "\"@TTP SNR?\"",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 180,
        "y": 700,
        "wires": [
            [
                "4f59ddfafcb7e483",
                "edf6a29722ae7d62"
            ]
        ]
    },
    {
        "id": "88ecccd75424b0cc",
        "type": "exec",
        "z": "6b190682a481fcc4",
        "command": "js8-cli rig.get_freq",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Get Freq",
        "x": 380,
        "y": 960,
        "wires": [
            [
                "42dea86b8d3dbc30"
            ],
            [],
            []
        ]
    },
    {
        "id": "7ede3be8c2c67dda",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "cd4938cdd42c3c52",
        "order": 14,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Freq Info",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "topic",
        "topicType": "msg",
        "x": 100,
        "y": 960,
        "wires": [
            [
                "88ecccd75424b0cc"
            ]
        ]
    },
    {
        "id": "42dea86b8d3dbc30",
        "type": "ui_text",
        "z": "6b190682a481fcc4",
        "group": "cd4938cdd42c3c52",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "Freq",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "12",
        "color": "#ffffff",
        "x": 810,
        "y": 1000,
        "wires": []
    },
    {
        "id": "e38a34d5882db3ce",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "cd4938cdd42c3c52",
        "order": 15,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Clear",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "   ",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 90,
        "y": 1000,
        "wires": [
            [
                "42dea86b8d3dbc30"
            ]
        ]
    },
    {
        "id": "6c0e3fd25ec57ee7",
        "type": "ui_dropdown",
        "z": "6b190682a481fcc4",
        "name": "",
        "label": "TX Offset",
        "tooltip": "",
        "place": "Select Offset",
        "group": "cd4938cdd42c3c52",
        "order": 16,
        "width": 6,
        "height": 1,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "500 HB",
                "value": "\"500\"",
                "type": "str"
            },
            {
                "label": "700 HB",
                "value": "\"700\"",
                "type": "str"
            },
            {
                "label": "1000",
                "value": "\"1000\"",
                "type": "str"
            },
            {
                "label": "1100",
                "value": "\"1100\"",
                "type": "str"
            },
            {
                "label": "1200",
                "value": "\"1200\"",
                "type": "str"
            },
            {
                "label": "1300",
                "value": "\"1300\"",
                "type": "str"
            },
            {
                "label": "1400",
                "value": "\"1400\"",
                "type": "str"
            },
            {
                "label": "1500",
                "value": "\"1500\"",
                "type": "str"
            },
            {
                "label": "1600",
                "value": "\"1600\"",
                "type": "str"
            },
            {
                "label": "1700",
                "value": "\"1700\"",
                "type": "str"
            },
            {
                "label": "1800",
                "value": "\"1800\"",
                "type": "str"
            },
            {
                "label": "1900",
                "value": "\"1900\"",
                "type": "str"
            },
            {
                "label": "2000",
                "value": "\"2000\"",
                "type": "str"
            },
            {
                "label": "2100",
                "value": "\"2100\"",
                "type": "str"
            },
            {
                "label": "2200",
                "value": "\"2200\"",
                "type": "str"
            },
            {
                "label": "2300",
                "value": "\"2300\"",
                "type": "str"
            },
            {
                "label": "2400",
                "value": "\"2400\"",
                "type": "str"
            },
            {
                "label": "2500",
                "value": "\"2500\"",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 100,
        "y": 1040,
        "wires": [
            [
                "21c1925c8d45600f"
            ]
        ]
    },
    {
        "id": "21c1925c8d45600f",
        "type": "exec",
        "z": "6b190682a481fcc4",
        "command": "js8-cli rig.set_freq",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Set Offset",
        "x": 380,
        "y": 1040,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "dd3775cf8b4a6727",
        "type": "exec",
        "z": "6b190682a481fcc4",
        "command": "/home/dmatyja/md/start_madness.sh",
        "addpay": "",
        "append": "",
        "useSpawn": "true",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "MD Server",
        "x": 390,
        "y": 1120,
        "wires": [
            [],
            [
                "f4e89693909aef81"
            ],
            []
        ],
        "info": "madness server /home/dmatyja/md/"
    },
    {
        "id": "a620c70b1596512c",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "322d3bb4df4f086f",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "MD Start",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "payload",
        "topicType": "msg",
        "x": 100,
        "y": 1120,
        "wires": [
            [
                "dd3775cf8b4a6727"
            ]
        ]
    },
    {
        "id": "f4e89693909aef81",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1100,
        "wires": []
    },
    {
        "id": "57a7c0c920a93acf",
        "type": "ui_button",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "322d3bb4df4f086f",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "MD Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "pid",
        "payloadType": "flow",
        "topic": "payload",
        "topicType": "msg",
        "x": 100,
        "y": 1180,
        "wires": [
            [
                "c25d31c696dad422"
            ]
        ]
    },
    {
        "id": "019fd2e6e4fd56c7",
        "type": "function",
        "z": "6b190682a481fcc4",
        "name": "Get PID",
        "func": "let text = msg.status.text;\nif (typeof text != \"undefined\")\n{\n    let pids=text.split(\":\");\n    if (pids[0]==\"pid\")\n    {\n        let pid=parseInt(pids[1])+1; //add one if daemon\n        node.log(pid);\n        flow.set(\"pid\",pid);\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 760,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "27e160d5381d3b7e",
        "type": "status",
        "z": "6b190682a481fcc4",
        "name": "",
        "scope": [
            "dd3775cf8b4a6727"
        ],
        "x": 560,
        "y": 1260,
        "wires": [
            [
                "019fd2e6e4fd56c7",
                "6de4de225303b5b8"
            ]
        ]
    },
    {
        "id": "c25d31c696dad422",
        "type": "exec",
        "z": "6b190682a481fcc4",
        "command": "kill ",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 390,
        "y": 1200,
        "wires": [
            [],
            [],
            []
        ]
    },
    {
        "id": "6de4de225303b5b8",
        "type": "ui_text",
        "z": "6b190682a481fcc4",
        "group": "322d3bb4df4f086f",
        "order": 2,
        "width": "2",
        "height": "1",
        "name": "MD PID",
        "label": "",
        "format": "{{msg.status.text}}",
        "layout": "col-center",
        "className": "",
        "style": true,
        "font": "Arial,Arial,Helvetica,sans-serif",
        "fontSize": "12",
        "color": "#808080",
        "x": 760,
        "y": 1220,
        "wires": []
    },
    {
        "id": "5b4a7df65b4e7749",
        "type": "sqlite",
        "z": "6b190682a481fcc4",
        "mydb": "fad570b5858420a9",
        "sqlquery": "msg.topic",
        "sql": "SELECT * FROM main.activity WHERE profile_id=3 AND value like \"%@GHOSTNET%\" AND length(value) >30 AND spotdate > '2024-09-27 00:45'",
        "name": "Spotter DB Query",
        "x": 430,
        "y": 1360,
        "wires": [
            [
                "ee5ae3786ee59be1",
                "32e741dd4fceb86c"
            ]
        ]
    },
    {
        "id": "ee5ae3786ee59be1",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1360,
        "wires": []
    },
    {
        "id": "d5ec2a054e5b534e",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "@GHOSTNET Query",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT DISTINCT DATETIME(spotdate),value FROM main.activity WHERE profile_id=3  AND value like \"%@GHOSTNET%\"  AND length(value) >30  AND spotdate > '2024-09-27 00:45' ORDER By spotdate DESC",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 1360,
        "wires": [
            [
                "5b4a7df65b4e7749"
            ]
        ]
    },
    {
        "id": "f3ea9f02ad44d2d6",
        "type": "file",
        "z": "6b190682a481fcc4",
        "name": "",
        "filename": "/home/dmatyja/md/WA6PZB/1.md",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 920,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "32e741dd4fceb86c",
        "type": "change",
        "z": "6b190682a481fcc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 1460,
        "wires": [
            [
                "1927945649825561"
            ]
        ]
    },
    {
        "id": "1927945649825561",
        "type": "string",
        "z": "6b190682a481fcc4",
        "name": "",
        "methods": [
            {
                "name": "replaceAll",
                "params": [
                    {
                        "type": "str",
                        "value": "♢"
                    },
                    {
                        "type": "str",
                        "value": "<br>"
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 670,
        "y": 1540,
        "wires": [
            [
                "f3ea9f02ad44d2d6"
            ]
        ]
    },
    {
        "id": "3482f6347879d3f5",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "Basic SELECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM inbox_v1",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1580,
        "wires": [
            [
                "7c9f80b4a5364489"
            ]
        ]
    },
    {
        "id": "7c9f80b4a5364489",
        "type": "sqlite",
        "z": "6b190682a481fcc4",
        "mydb": "009e256174f7ab57",
        "sqlquery": "msg.topic",
        "sql": "SELECT * FROM main.activity WHERE profile_id=3 AND value like \"%@GHOSTNET%\" AND length(value) >30 AND spotdate > '2024-09-27 00:45'",
        "name": "JS8Call DB Query",
        "x": 350,
        "y": 1580,
        "wires": [
            [
                "5c29c53b0f0eb75a",
                "8681d8259493585b",
                "ef8113362ab352b1"
            ]
        ]
    },
    {
        "id": "08b922e8af3e3992",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1680,
        "wires": []
    },
    {
        "id": "8681d8259493585b",
        "type": "change",
        "z": "6b190682a481fcc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.blob",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 1620,
        "wires": [
            [
                "f081351f679debc7"
            ]
        ]
    },
    {
        "id": "f081351f679debc7",
        "type": "split",
        "z": "6b190682a481fcc4",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 570,
        "y": 1680,
        "wires": [
            [
                "cc1dbeca03787195",
                "08b922e8af3e3992"
            ]
        ]
    },
    {
        "id": "52046667f2eee583",
        "type": "json",
        "z": "6b190682a481fcc4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 1800,
        "wires": [
            [
                "1234da4ec77b287f"
            ]
        ]
    },
    {
        "id": "1234da4ec77b287f",
        "type": "change",
        "z": "6b190682a481fcc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$flowContext(\"dbid\") & \"- \"  & payload.params.TEXT & \" \" & payload.params.FROM & \" \" & payload.type",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580,
        "y": 1860,
        "wires": [
            [
                "5de4b1a2a265d86b"
            ]
        ]
    },
    {
        "id": "4962b24cf19f055c",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "@TTP Query",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT DISTINCT DATETIME(spotdate),value FROM main.activity WHERE profile_id=3  AND value like \"%@TTP%\"  AND length(value) >30  AND spotdate > '2024-09-27 00:45' ORDER BY spotdate DESC",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1420,
        "wires": [
            [
                "5b4a7df65b4e7749"
            ]
        ]
    },
    {
        "id": "3b3b64c4b1d5f93e",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "blob SELECT",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT blob FROM inbox_v1,  json_each (blob) WHERE type=\"DELIVERED\"",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1680,
        "wires": [
            [
                "7c9f80b4a5364489"
            ]
        ]
    },
    {
        "id": "99f53c5271a941e8",
        "type": "http request",
        "z": "6b190682a481fcc4",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://api.aprs.fi/api/get?name=kb6cys&what=wx&apikey=5966.BfvOv2etaZuyNt&format=json",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 1900,
        "wires": [
            [
                "445e6ee06b81328c"
            ]
        ]
    },
    {
        "id": "9c73b3713bbdf9cd",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 1900,
        "wires": []
    },
    {
        "id": "774e7d78e181a36f",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 1900,
        "wires": [
            [
                "99f53c5271a941e8"
            ]
        ]
    },
    {
        "id": "82fdb0fb121a29ce",
        "type": "change",
        "z": "6b190682a481fcc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"TEMP \" & $round(($number(payload.entries[0].temp) * 9/5) +32, 0) & \" F \" & $fromMillis($number(payload.entries[0].time)*1000, '[H01][m01]') & \"Z\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 1960,
        "wires": [
            [
                "9c73b3713bbdf9cd",
                "a2f5b69831b7fde1"
            ]
        ],
        "info": "payload.entries[0].temp"
    },
    {
        "id": "445e6ee06b81328c",
        "type": "json",
        "z": "6b190682a481fcc4",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 450,
        "y": 1900,
        "wires": [
            [
                "82fdb0fb121a29ce",
                "9c73b3713bbdf9cd"
            ]
        ]
    },
    {
        "id": "dc8b5ae7baca9196",
        "type": "sqlite",
        "z": "6b190682a481fcc4",
        "mydb": "0949482d6908a5f0",
        "sqlquery": "msg.topic",
        "sql": "SELECT * FROM main.activity WHERE profile_id=3 AND value like \"%@GHOSTNET%\" AND length(value) >30 AND spotdate > '2024-09-27 00:45'",
        "name": "Spotter DB Insert",
        "x": 510,
        "y": 2140,
        "wires": [
            [
                "735ba2144024e888"
            ]
        ]
    },
    {
        "id": "27bf58d59ed76815",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "Update into Expect Reply Table",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "UPDATE expect SET reply = \"Test3\" WHERE expect=\"WX\"",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 2140,
        "wires": [
            [
                "dc8b5ae7baca9196"
            ]
        ]
    },
    {
        "id": "735ba2144024e888",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 2040,
        "wires": []
    },
    {
        "id": "dbbdba41e5459e41",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "\"Temp 66 F\"",
        "payloadType": "str",
        "x": 110,
        "y": 2040,
        "wires": [
            [
                "a2f5b69831b7fde1"
            ]
        ]
    },
    {
        "id": "a2f5b69831b7fde1",
        "type": "change",
        "z": "6b190682a481fcc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "\"UPDATE expect SET reply =\" & \"\\\"\" & $string(payload) & \"\\\"\" & \" WHERE expect='WX'\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 2040,
        "wires": [
            [
                "dc8b5ae7baca9196",
                "735ba2144024e888"
            ]
        ]
    },
    {
        "id": "790bb2d8744e72c6",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "900",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 2220,
        "wires": [
            [
                "5630bb4a3ba440b9"
            ]
        ]
    },
    {
        "id": "5630bb4a3ba440b9",
        "type": "exec",
        "z": "6b190682a481fcc4",
        "command": "",
        "addpay": "",
        "append": "vcgencmd measure_temp|cut -c 6-9",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "",
        "x": 450,
        "y": 2220,
        "wires": [
            [
                "973d180ef377b43f"
            ],
            [],
            []
        ]
    },
    {
        "id": "973d180ef377b43f",
        "type": "string",
        "z": "6b190682a481fcc4",
        "name": "",
        "methods": [
            {
                "name": "toFloat",
                "params": [
                    {
                        "type": "num",
                        "value": ""
                    }
                ]
            }
        ],
        "prop": "payload",
        "propout": "payload",
        "object": "msg",
        "objectout": "msg",
        "x": 630,
        "y": 2220,
        "wires": [
            [
                "238a7ffd300a4a27"
            ]
        ]
    },
    {
        "id": "238a7ffd300a4a27",
        "type": "ui_chart",
        "z": "6b190682a481fcc4",
        "name": "",
        "group": "73b608dffae72aee",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "CPU Temperature",
        "chartType": "line",
        "legend": "false",
        "xformat": "dd HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "60",
        "ymax": "100",
        "removeOlder": "3",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": true,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 830,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "5de4b1a2a265d86b",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 14",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1800,
        "wires": []
    },
    {
        "id": "5c29c53b0f0eb75a",
        "type": "debug",
        "z": "6b190682a481fcc4",
        "name": "debug 15",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 1640,
        "wires": []
    },
    {
        "id": "1d7a18272d055be1",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "blob SELECT (2)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT id, blob FROM inbox_v1 WHERE json_extract(blob, '$.type') NOT like 'DELIVERED'",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1740,
        "wires": [
            [
                "7c9f80b4a5364489"
            ]
        ]
    },
    {
        "id": "cc1dbeca03787195",
        "type": "change",
        "z": "6b190682a481fcc4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dbid",
                "pt": "flow",
                "to": "payload.id[0]",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 1740,
        "wires": [
            [
                "52046667f2eee583"
            ]
        ]
    },
    {
        "id": "ef8113362ab352b1",
        "type": "ui_template",
        "z": "6b190682a481fcc4",
        "group": "73b608dffae72aee",
        "name": "JS8 Messages",
        "order": 4,
        "width": "6",
        "height": "2",
        "format": "<table style=\"width:160%\">\n    <tr>\n        <th>id</th>\n        <th>From</th>\n        <th>To</th>\n        <th>Message</th>\n        <th>Type</th>\n    </tr>\n    <tr ng-repeat=\"x in msg.payload | limitTo:20\">\n        <td>{{msg.payload[$index].id}}</td>\n        <td>{{msg.payload[$index].SRC}}</td>\n        <td>{{msg.payload[$index].RCP}}</td>\n        <td>{{msg.payload[$index].TEXT}}</td>\n        <td>{{msg.payload[$index].type}}</td>\n\n\n    </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 900,
        "y": 1580,
        "wires": [
            []
        ]
    },
    {
        "id": "b7fbc50d3a37c441",
        "type": "inject",
        "z": "6b190682a481fcc4",
        "name": "blob SELECT (3)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT id, json_extract(blob, '$.params.TEXT') TEXT, json_extract(blob, '$.params.FROM') SRC, json_extract(blob, '$.params.TO') RCP, json_extract(blob, '$.type') type    FROM inbox_v1 WHERE json_extract(blob, '$.type') NOT like 'DELIVERED'",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 1800,
        "wires": [
            [
                "7c9f80b4a5364489"
            ]
        ],
        "info": "SELECT id, json_extract(blob, '$.params.TEXT') TEXT, json_extract(blob, '$.params.FROM') SRC, json_extract(blob, '$.params.TO') RCP, json_extract(blob, '$.type') type  \n FROM inbox_v1 WHERE json_extract(blob, '$.type') NOT like 'DELIVERED'"
    },
    {
        "id": "89015d31.788b8",
        "type": "inject",
        "z": "466b5a48770c62f9",
        "name": "String",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "- ANT: NVIS DIPOLE",
        "payloadType": "str",
        "x": 90,
        "y": 160,
        "wires": [
            [
                "41184f92.f8d73"
            ]
        ]
    },
    {
        "id": "41184f92.f8d73",
        "type": "function",
        "z": "466b5a48770c62f9",
        "name": "Simple 16 bit Checksum",
        "func": "var checksum = 0;\nfor(var i = 0; i < msg.payload.length; i++) {\n  checksum = checksum ^ msg.payload.charCodeAt(i);\n}\n// msg.payload = \"$\" + msg.payload + \"*\" +  checksum.toString(16);\nmsg.payload = msg.payload + \" \" + checksum.toString(16).toUpperCase();\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 160,
        "wires": [
            [
                "116b1aa3.dc3d75"
            ]
        ]
    },
    {
        "id": "116b1aa3.dc3d75",
        "type": "debug",
        "z": "466b5a48770c62f9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 160,
        "wires": []
    },
    {
        "id": "d361249ab9689d51",
        "type": "ui_audio",
        "z": "466b5a48770c62f9",
        "name": "",
        "group": "73b608dffae72aee",
        "voice": "",
        "always": true,
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "5ba2e9bd6b2b5865",
        "type": "function",
        "z": "466b5a48770c62f9",
        "name": "function 1",
        "func": "var sw = msg.payload;\nif (sw == true) {\n    msg.payload = \"light on \";\n}\nelse {\n    msg.payload = \"light off \";\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 300,
        "wires": [
            [
                "d361249ab9689d51"
            ]
        ]
    },
    {
        "id": "831258d1497740b9",
        "type": "ui_switch",
        "z": "466b5a48770c62f9",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "73b608dffae72aee",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 110,
        "y": 300,
        "wires": [
            [
                "5ba2e9bd6b2b5865"
            ]
        ]
    },
    {
        "id": "ce516b28ceeb32f4",
        "type": "file in",
        "z": "466b5a48770c62f9",
        "name": "mp3",
        "filename": "/home/dmatyja/telephone_bell.mp3",
        "filenameType": "str",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 290,
        "y": 400,
        "wires": [
            [
                "d361249ab9689d51"
            ]
        ]
    },
    {
        "id": "aa91e7f80b81189e",
        "type": "inject",
        "z": "466b5a48770c62f9",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "ce516b28ceeb32f4"
            ]
        ]
    },
    {
        "id": "b34dd1af.4cb23",
        "type": "template",
        "z": "564633c11c99f4a1",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{req.query.fromcall}}, {{req.query.tocall}}, {{req.query.typeid}}, {{req.query.responses}}\n<br>\n{{req.query.msgtxt}}\n{{req.query.timesig}}\n{{req.query.trigger}}",
        "output": "str",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "b828f6a6.47d708",
                "409fef2557aa06b5"
            ]
        ]
    },
    {
        "id": "b828f6a6.47d708",
        "type": "http response",
        "z": "564633c11c99f4a1",
        "name": "",
        "x": 530,
        "y": 100,
        "wires": []
    },
    {
        "id": "409fef2557aa06b5",
        "type": "debug",
        "z": "564633c11c99f4a1",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "623403f46bb88ab8",
        "type": "comment",
        "z": "564633c11c99f4a1",
        "name": "From JS8Spotter Form Gateway Function ",
        "info": "This is an example URL  that JS8Spotter will send\nhttp://192.168.1.121:1880/hello?fromcall=AB1CD&tocall=KF7MIX&typeid=F!301&responses=143132111&msgtxt=HELLO&timesig=#CJIB",
        "x": 400,
        "y": 40,
        "wires": []
    },
    {
        "id": "cf12623e7a432dd5",
        "type": "debug",
        "z": "564633c11c99f4a1",
        "name": "debug 13",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 260,
        "wires": []
    },
    {
        "id": "6fef1c9cdbd2ed01",
        "type": "http in",
        "z": "564633c11c99f4a1",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "b34dd1af.4cb23",
                "cf12623e7a432dd5"
            ]
        ]
    }
]
